:root {
    --padding-container: 100px 0;
    --color-title: #003cff;

}

body {
    font-family: 'Poppins', sans-serif;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);

}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg,#0000008c 0%,#0000008c 100%), url('../images/fondo.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 50% 95%, 0 81%);
    z-index: -1;

}
/*Nav o parte de los proyectos*/ 

.nav {
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;

}

.nav_titulo{
    font-weight: 300;

}

.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap:2em;
}

.nav_items {
    list-style: none;

}

.nav_links {
    color:#fff;
    text-decoration: none;
}

.nav_menu {

    margin-left: auto;
    cursor: pointer;
    display: none;

}

.nav_img {
    display: block;
    width: 2rem;
}
.nav_close{
    display: var(--show,none);

}

/* Contenedor "Hero"*/

.hero_contenedor {

    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_titulo{
    font-size: 3em;

}

.hero_parrafo{
    margin-bottom: 20px;

}
.botoncito{
    display: inline-block;
    background-color: #2091f9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 10px;
    border-radius: 2rem;
}

/* Carrusel */

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}



/* Hide the images by default */

.mySlides {
    display: none;
    
}

.carrusel_img{
    border-radius: 30%;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(250, 250, 250);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* Contenedor "Hero"*/

.hero_contenedor {

    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_titulo{
    font-size: 3em;

}

.hero_parrafo{
    margin-bottom: 20px;

}
.botoncito{
    display: inline-block;
    background-color: #2091f9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 10px;
    border-radius: 2rem;
}
/* Experiencia */
.exp {

    background-color: #f6f6fc;
    background-image: radial-gradient(#444cf7 0.2px, transparent 0.2px), radial-gradient(#444cf7 0.2px, #e5e5f7 0.2px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;

 }

 .exp_contenedor {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 1em;
     align-items: center;
 }
.exp_img {
    max-width: 500px;

}
.exp_parrafo{
    line-height: 1.7;
    margin-bottom: 15px;
    font-size:large;
}
.exp_imgs {
     width: 100%;
     display: block;
 }
  /* Información de mis Proyectos*/

.info {
    text-align: center;

 }

.subtitulo {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;

 }
.info_parrafo { line-height: 1.7;}

.info_main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
 }

.info_logos {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260;
    overflow: hidden;
    margin: 0 auto;

 }

.info_logo {
    width: 60 px;
 }

 /* Testimony */

.testimony{
    background-color: #e5e5f7;
}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 60% 60%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}
/* Estudiante */ 

.estudiante{
    text-align: center;
}

.estudiante_contenedor{
   display: grid;
   gap: 2em;
   padding-top: 50px;
   padding-bottom: 100px;

}
.estudiante_padding{
    padding: 0;
    transition: padding .3s;
    border: 2px solid #5454D4;
    border-radius: 0.5rem;

}


.estudiante_padding--add{
   padding-bottom: 30px;

}

.estudiante_muestra{
   padding: 0 30px 0;
   overflow: hidden;

}

.estudiante_titulo{
   text-align: left;
   display: flex;
   font-size: 20px;
   padding: 30px 0 30px;
   margin-left: 80px;
   margin-top:60px;
   cursor: pointer;
   color: var(--color-title);
   justify-content: space-between;

}
.estudiante_flecha{
   border-radius: 50%;
   background-color: var(--color-title);
   width: 250px;
   height: 250px;
   display: flex;
   justify-content: center;
   align-items: center;
   align-self: flex-start;
   margin-left: 10px;
   margin-right: 100px;
   transition: transform .3s;

}
/*.estudiante_flecha--rotate{
   transform: rotate(180deg);

}*/
.estudiante_show{
   text-align: left;
   height: 0;
   transition: height .3s;
}
.estudiante_img {
   display: block;
   height: 95%;
   width: 95%;
   border-radius: 50%;
   align-items: flex-start;
}
.perfil_img{
   display: block;
   height: 20%;
   width: 20%;
   align-items: flex-end;
   border-radius: 5%;
}

.lista_objetivos{
    align-content: left;
    justify-content: left;
}
/* Barritas de Skills */


 * {box-sizing:border-box}

 /* Contenedor para las barritas de skill */
 .barritas {
   width: 100%; /* Full width */
   background-color: #ddd; 
 }
 
 .skills {
   text-align: right; 
   padding-top: 10px; 
   padding-bottom: 10px; 
   color: white; 
 }
 
 .html {width: 50%; background-color: #04AA6D;} /* Green */
 .css {width: 50%; background-color: #2196F3;} /* Blue */
 .js {width: 65%; background-color: #f44336;} /* Red */
 .java {width: 80%; background-color: #808080;} /* Dark Grey */
 .py {width: 90%; background-color: rgb(109, 3, 109);} /*Dark Purple*/

 /* Formulario cool*/
.formulario {
    margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid var(--color-title);
  border-radius: 1em;

} 
.ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.formulario li + li {
    margin-top:1em;

}
.label {
    display: inline-block;
    width: 6rem;
    text-align: right;

}
.boton_formulario {
    padding-left: 7rem;
}
/* Footer */

.footer {
    background-color: #03113d;
}
.footer_titulo {
   font-size: 2rem;
   font-size: 300;
   margin-bottom: 30px;
   color:#fff;
}

.footer_contenedor{
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom:1px #fff ;
   padding-bottom:60px;
}

.nav--footer{
   padding-bottom:20px;
   display: grid;
   gap:1em;
   grid-auto-flow:row;

}
.nav_link--footer {
   display: flex;
   margin: 0;
   margin-right:20px;
   flex-wrap: wrap;

}
.footer_copy {
   --padding-container:30px 0;
   text-align: center;
   color: #fff;
}

.footer_nombre{
   font-weight: 300;

}
.footer_logo{
   margin-bottom: 10px;
}
.footer_img{
  width: 30x; 
}
/* Media queries */

@media (max-width:800px){
    .nav_menu{
        display:block;

    }

    .nav_link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition:  .7s opacity;
        
    }

    .nav_link--show{
        --show:block;
        opacity: 1;
        pointer-events: unset;

    }
    .nav_close {
        position: absolute;
        top: 30;
        right: 30;
        width: 30;
        cursor: pointer;

    }
    .hero_titulo {
        font-size: 2.5rem;

    }

    .info_main{
        gap:2em;

    }
    .info_logos:last-of-type{
        grid-column: 1/-1;
    }
    .exp_contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }
    .exp_img{
        grid-row: 1/2;
        justify-self: center;
    }
    .testimony__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .testimony__img{
        width: 200px;
        height: 200px;
        
    }
    .footer_contenedor{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav_link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    
}

@media (max-width:600px){
    .hero_titulo{
        font-size: 2rem;

    }
    .hero_parrafo{ font-size: 1rem;}

    .subtitulo{ font-size: 1.8rem;}

    .testimony{ --padding-container:60px 0;}

    .testimony__container{ 
        grid-template-columns: 28px 1fr 28px;
        gap:.9rem;

    }

    .testimony__arrow{
        width: 100%;
    }
    .testimony__course{
        margin-top: 15px;

    }

    .estudiante_titulo {
        font-size: 1rem;
    }
    .footer_titulo{
        justify-self: start;
        margin-bottom: 15px;

    }
    .nav--footer {
        padding-bottom: 60px;
    
    }
    .nav_link--footer{
        justify-content: space-between;
    }
        
}